<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>ZumBee - Coș de produse</title>
        <%- include("../fragmente/head") %>
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <script type="text/javascript" src="/resurse/js/cos-virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara" class="buton">
            Cumpară
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>