<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>ZumBee - Despre noi</title>
        <%- include("../fragmente/head") %>     
        <link rel="stylesheet" href="/resurse/css/galerie_statica.css" type="text/css" />
    </head>
    <body>
    <%- include("../fragmente/header") %>
    <main>
        <%- include("../fragmente/galerie_statica") %>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>