<footer>
    <address>
        Telefon: <a href="tel:+(40744444444)">0744 444 444</a><br>
        Adresa: Bucuresti, Sector 1, Strada Mihai Eminescu, Nr. 140<br>
        E-mail: <a href="mailto:ZumBee@gmail.com">ZumBee@gmail.com</a><br>
        <a href="https://www.facebook.com/" target="_blank"><span class="fab fa-facebook-square"></span></a>
        <a href="https://www.youtube.com/" target="_blank"><span class="fab fa-youtube"></span></a>
        <a href="https://www.instagram.com/" target="_blank"><span class="fab fa-instagram"></span></a>
    </address>
    <p>Data creării site-ului: <time datetime="2021-03-07">07.03.2021</time></p>
    <p><small>Copyright &copy;2021 Liță Robert</small></p>
</footer>