<section id="galerie-statica">
    <h2>Galerie</h2>
    <div id="grid-galerie">
        <% for (let imag of locals.imagini1){  %>
            <figure>
                <picture>
                    <source srcset="/<%-imag.mic%>" media="(max-width:700px)"/>
                    <img src="/<%-imag.mare%>" alt="<%-imag.nume%>"/>
                </picture>
                <figcaption><%-imag.descriere%></figcaption>
            </figure>
        <% } %>
    </div>
</section>